<mapper namespace="com.graduation.platform.repository.OrderRepository">
    <resultMap id="OrderResultMap" type="com.graduation.platform.model.entity.Order">
        <id column="id" property="id" />
        <result column="user_id" property="userId" />
        <result column="route_id" property="routeId" />
        <result column="start_time" property="startTime" />
        <result column="end_time" property="endTime" />
        <result column="total_cost" property="totalCost" />
        <result column="status" property="status" />
    </resultMap>

    <select id="findAllOrders" resultMap="OrderResultMap">
        SELECT * FROM orders
    </select>

    <select id="findOrderById" parameterType="long" resultMap="OrderResultMap">
        SELECT * FROM orders WHERE id = #{id}
    </select>

    <insert id="insertOrder" parameterType="com.graduation.platform.model.entity.Order">
        INSERT INTO orders (user_id, route_id, start_time, end_time, total_cost, status)
        VALUES (#{userId}, #{routeId}, #{startTime}, #{endTime}, #{totalCost}, #{status})
    </insert>

    <update id="updateOrder" parameterType="com.graduation.platform.model.entity.Order">
        UPDATE orders
        SET user_id = #{userId}, route_id = #{routeId}, start_time = #{startTime}, end_time = #{endTime}, total_cost = #{totalCost}, status = #{status}
        WHERE id = #{id}
    </update>

    <delete id="deleteOrder" parameterType="long">
        DELETE FROM orders WHERE id = #{id}
    </delete>
</mapper>